@charset "UTF-8";


*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}




.well{ width: 88%; 
       min-height: 680px;
       margin: 0 auto;
  
/*  margin: auto;
  min-width: 1250px;
  column-width: 250px;
  -webkit-column-width: 250px;
  -webkit-column-gap: 0px;
  column-gap: 0px;*/ 

  margin-left: auto; margin-right: auto; height: auto; }

.well .well-item{
	 position: relative;
 float: left; 
 width: 300px; 
 min-height: 300px; 
 margin: 1%; 

 -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
	-webkit-perspective:1000px;
	        perspective: 1000px;
 }
.well .well-item img{
  width: 100%;
  min-height: 300px;
}
.front,
.back{
  background-size: cover;
	background-position: center;
	-webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	text-align: center;
	min-height: 300px;
	height: auto;
	border-radius: 10px;
	color: #fff;
	font-size: 1.5rem;
	width: 300px;
}

.back{
  background: #cedce7;
  background: -webkit-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  background: -o-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  background: linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  width: 300px;
  text-align: center;
}

.front:after{
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .6;
    background-color: #000;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.well-item:hover .front,
.well-item:hover .back{
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    width: 300px;
    text-align: center;
}

.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    width: 300px;
    text-align: center;
}

.inner{
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
            transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 25px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
   
    -webkit-perspective: inherit;
            perspective: inherit;
    z-index: 2;
    width: 300px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.container .back{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.well-item .front{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.well-item:hover .back{
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.well-item:hover .front{
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.front .inner p{
  font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;
  text-align: center;
}
/*
.front .inner p:after{
  content: '';
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #C6D4DF;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;
  text-align: center;
  
}

*/

